{% extends 'base.html'%}

{% block title %}Instructeur{% endblock %}

{% block content %}
  <div class="p-3 text-center">
    <h3 class="m-3">Liste des élèves</h3>
    {% for user in studentslist %}
        <p class="m-3"><a href="/instructor/student/{{user.id}}">{{user.username}}</a></p>
    {%endfor%}
  </div>
  <div class="p-3 text-center">
    <h3 class="m-3">Liste des rdv</h3>
    {%for planning in planninglist %}
        <p class="m-3">{{planning.date}} / {{planning.heure}} à {{planning.lieu}} avec l'élève <b>{% for user in studentslist %} {% if user.id == planning.id_student %} {{user.username}} {%endif%} {%endfor%}</b><a class="btn btn-danger btn-sm" href="/instructor/planning/delete/{{planning.id}}"> Delete</a></p>
    {%endfor%}
  </div>
{% endblock %}
